* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  /* font-family: "Space_Grotesk"; */
}
.nav-logo-wrapper {
  display: flex;
  height: 20vh;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  height: 40vh;
  background-color: rgba(64, 61, 61, 1);
  color: rgb(255, 254, 253);
  justify-content: flex-end;
  padding-right: 40px;
} 
.nav-section {
  display: flex;
  margin-top: 100px;
  height: 20vh;
  width: 50vw;
  padding: 30px;
}

.nav-links {
  margin: 10px;
  width: 20vw;
  height: 40px;
  font-size: 1.5em;
  text-decoration: none;
  color: rgb(233, 227, 227);
  border-radius: 6px;
  text-align: center;
  padding: 5px;
  align-items: center;
}
.errorboundary-link{
  width: 35vw;
}
.nav-links:hover {
  background-color: rgba(240, 248, 255, 0.742);
  color: black;
  transition: all 0.2s;
}
.nav {
  /* border: 2px solid red; */
  display: flex;
  height: 20vh;
  width: 50vw;
  padding: 30px;
  align-self: flex-end;
}
.home-link,
.repository-link,
.error-link,
.portfolio-link {
  margin: 8px;
  width: 10vw;
  height: 40px;
  font-size: 1.2em;
  text-decoration: none;
  border-radius: 6px;
  text-align: center;
  padding: 5px;
  align-items: center;
  color: black;
}
.home-link {
  border: 1.5px solid grey;
}
.error-link {
  width: 15vw;
}
.link:hover {
  background-color: rgb(148, 148, 148);
}
.home-top-container {
  display: flex;
  background-color: antiquewhite;
}
.home-container {
  padding: 80px;
}
.name-wrap {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.name {
  display: flex;
  gap: 10px;
  margin-bottom: 0;
  font-size: 1.8em;
}
.home-container h4 {
  margin-top: -40px;
}

.home-tex {
  width: 40vw;
  text-align: justify;
}
.home-btn {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid green;
  background-color: green;
  font-weight: 700;
}
.home-btn-profile {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  /* border: 1px solid; */
  border: 1.5px solid green;
  background-color: antiquewhite;
  margin-left: 10px;
  font-weight: 700;
}
.home-image-wrap {
  width: 310px;
  height: 310px;
  background-color: rgb(156, 148, 148);
  /* border-radius: 8px; */
  margin-top: 30px;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 0px 25px 0px rgba(8, 6, 6, 0.314),
  0 8px 10px -6px rgba(24, 18, 18, 0.461);
}
.home-image-background {
  /* background-color: rgb(156, 148, 148); */
  width: 30vw;
  height: 60vh;
  margin: 0px auto;
  /* background-image: url(./Famous500143455.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 240px;
  
}
.home-right {
  /* height: 100vh;
  width: 50px; */
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.home-box1 {
  height: 350px;
  width: 60vh;
  border-radius: 8px;
  margin: 100px 50px;
  -webkit-box-shadow: 0 0px 25px 25px rgba(13, 10, 10, 0.348),
    0 8px 10px -6px rgba(10, 8, 8, 0.385);
  box-shadow: 0 0px 25px 0px rgba(8, 6, 6, 0.314),
    0 8px 10px -6px rgba(24, 18, 18, 0.461);
  transform: rotate(10deg);
  background-color: white;
  padding: 3px 5px;
}
.home-box1 h1,
.home-box2 h1, .home-box3 h1 {
  background-color: rgb(61, 61, 60);
  border-radius: 5px;
  margin-top: 0px;
  -webkit-box-shadow: 0 0px 25px 25px rgba(13, 10, 10, 0.348),
    0 8px 10px -6px rgba(10, 8, 8, 0.385);
  box-shadow: 0 0px 25px 0px rgba(8, 6, 6, 0.314),
    0 8px 10px -6px rgba(24, 18, 18, 0.461);
  color: antiquewhite;
  padding: 10px;
  font-size: 1.2em;
  text-align: center;
}
.home-box3 h1 {
  background-color: rgb(9, 82, 110);;
  border-radius: 5px;
  margin-top: 0px;
  -webkit-box-shadow: 0 0px 25px 25px rgba(13, 10, 10, 0.348),
    0 8px 10px -6px rgba(10, 8, 8, 0.385);
  box-shadow: 0 0px 25px 0px rgba(8, 6, 6, 0.314),
    0 8px 10px -6px rgba(24, 18, 18, 0.461);
  color: antiquewhite;
  padding: 10px;
  font-size: 1.2em;
  text-align: center;
}
.home-box1 ul{
  background-color: rgb(61, 61, 60);
  border-radius: 5px;
  margin-top: 10px;
  -webkit-box-shadow: 0 0px 25px 25px rgba(13, 10, 10, 0.348),
    0 8px 10px -6px rgba(10, 8, 8, 0.385);
  box-shadow: 0 0px 25px 0px rgba(8, 6, 6, 0.314),
    0 8px 10px -6px rgba(24, 18, 18, 0.461);
  color: antiquewhite;
  padding: 10px;
  font-size: 1.2em;
  text-align: center;
  height: 55vh;
  list-style: none;
}
.home-box2 div {
  background-color: rgb(61, 61, 60);
  border-radius: 5px;
  margin-top: 10px;
  /* background-image: url(./calc.svg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 600px 300px;
  -webkit-box-shadow: 0 0px 25px 25px rgba(13, 10, 10, 0.348),
    0 8px 10px -6px rgba(10, 8, 8, 0.385);
  box-shadow: 0 0px 25px 0px rgba(8, 6, 6, 0.314),
    0 8px 10px -6px rgba(24, 18, 18, 0.461);
  color: antiquewhite;
  padding: 10px;
  font-size: 1.2em;
  text-align: center;
  height: 55vh;
  list-style: none;
}
.home-box2 {
  height: 350px;
  width: 60vh;
  border-radius: 8px;
  margin-top: -120px;
  -webkit-box-shadow: 0 0px 25px 25px rgba(13, 10, 10, 0.348),
    0 8px 10px -6px rgba(10, 8, 8, 0.385);
  box-shadow: 0 0px 25px 0px rgba(8, 6, 6, 0.314),
    0 8px 10px -6px rgba(24, 18, 18, 0.461);
  transform: rotate(-10deg);
  background-color: white;
  padding: 3px 5px;
}
.home-box3 {
  height: 350px;
  width: 60vh;
  border-radius: 8px;
  margin-top: -50px;
  -webkit-box-shadow: 0 0px 25px 25px rgba(13, 10, 10, 0.348),
    0 8px 10px -6px rgba(10, 8, 8, 0.385);
  box-shadow: 0 0px 25px 0px rgba(8, 6, 6, 0.314),
    0 8px 10px -6px rgba(24, 18, 18, 0.461);
  transform: rotate(10deg);
  background-color: white;
  padding: 3px 5px;
  margin-left: 80px;
}

.home-box3 div {
  background-color: rgb(9, 82, 110);
  border-radius: 5px;
  margin-top: 10px;
  /* background-image: url(./components/active-states.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 600px 300px;
  -webkit-box-shadow: 0 0px 25px 25px rgba(13, 10, 10, 0.348),
    0 8px 10px -6px rgba(10, 8, 8, 0.385);
  box-shadow: 0 0px 25px 0px rgba(8, 6, 6, 0.314),
    0 8px 10px -6px rgba(24, 18, 18, 0.461);
  color: antiquewhite;
  padding: 10px;
  font-size: 1.2em;
  text-align: center;
  height: 55vh;
  list-style: none;
}


.list-item {
  border-top-width: 20px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-style: solid;
  border-left-color: gray;
  border-right-color: gray;
  border-bottom-color: gray;
  border-top-color: aqua;
  margin: 0 auto;
  width: 60vw;
  height: 30vh;
  border-radius: 8px;
  background-color: rgb(90, 88, 88);
  color: whitesmoke;
  text-align: center;
  cursor: pointer;

  box-shadow: 0 0px 25px 0px rgba(22, 188, 234, 0.314),
    0 8px 10px -6px rgba(15, 133, 183, 0.461);
}
.repolist-container-bottom{
  display: flex;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
padding: 10px;
  justify-content: flex-end;
 margin-bottom: 20px;
 gap: 20px;
  
}
.circle{
  display: flex;
  width: 250px;
  height: 250px;
  border: 2px solid cyan;
  border-radius: 50%;
  color: wheat;
  align-self: flex-end;
  /* padding: 5px; */
}
.owner-info-wrap{
  display: flex;
  flex-direction: column;
  /* border: 2px solid cyan; */
  margin-left: 200px;
  justify-content: center;
  margin-top: 70px;
  justify-items: center;
}
.owner-info-wrap h3{
  text-align: center;
  margin-top: 0;
  background-color: blueviolet;
  border-radius: 8px;
  height: 10vh;
  padding: 10px;
  width: 20vw;
}
.owner-info-wrap p{
  text-align: center;
  width: 20vw;
  margin-top: 0;
  font-weight: 700;
}
.avatar{
  height: 230px;
  color: white;
  border-radius: 50%;
  margin: 8px auto;
  
}
.list-item-wrap {
  border: 2px solid;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: black;
}
.list-item-container {
  display: flex;
  flex-direction: column;
  border: 2px solid grey;
  margin: 0 auto;
  width: 80vw;
  gap: 20px;
  padding: 20px;
  list-style: none;
  border-radius: 8px;
  padding-top: 35px;
  background-color: rgb(61, 60, 60);
  /* -moz-box-shadow: 0 4px 6px rgba(116, 182, 200, 0.381); */
  -webkit-box-shadow: 0 0px 25px 25px rgba(244, 240, 240, 0.348),
    0 8px 10px -6px rgba(251, 249, 249, 0.385);
  box-shadow: 0 0px 25px 0px rgba(247, 245, 245, 0.314),
    0 8px 10px -6px rgba(237, 236, 236, 0.461);
}
.repo-visible {
  border: 1.5px solid;
  width: 8vw;
  border-radius: 8px;
  margin-left: 5px;
  margin-top: 5px;
  background-color: blueviolet;
}
.repo-branch {
  border: 1.5px solid;
  width: 8vw;
  border-radius: 8px;
  margin-left: 5px;
  margin-top: 5px;
}
.repo-name {
  margin-top: -5px;
}

.branch-container {
  display: flex;
  margin-top: -2px;
}
.para {
  margin-left: 300px;

  color: yellowgreen;
  margin-top: -3pxpx;
}
.single-repo-container {
  background-color: rgb(7, 16, 37);
  padding-bottom: 40px;
  padding-top: 40px;
}
.single-repo-wrap {
  background-color: rgb(19, 35, 71);
  width: 70vw;
  /* color: white; */
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  height: 100vh;
  padding: 30px;
}
.single-repo-owner {
  color: white;
  display: flex;
  flex-direction: column;
  height: 20vh;
  background-color: rgb(19, 35, 71);
  /* padding: 20px; */
  border-radius: 8px;
  width: 70vw;
  margin: 20px auto;
}
.single-repo-owner h1 {
  margin: 4px 30px;
}
.image {
  /* background-image: url(./components/GitHub-Mark-32px.png); */
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
  width: 20vw;
  height: 40vh;

  filter: brightness(100);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.single-details-wrap {
  padding: 40px;
}

.single-repo-name {
  color: white;
  display: flex;
  flex-direction: column;
  /* margin-left: 20px; */
  height: 20vh;
  background-color: rgb(11, 20, 42);
  font-size: 1.8em;
  padding: 20px;

  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 40vw;
}
.single-repo-desc {
  /* color: white; */
  margin-top: 50px;
  background-color: wheat;
  padding: 40px 5px;
  border-radius: 20px;
  height: 30vh;
  text-align: center;
  font-size: 1.4em;
}
.single-branch-wrap {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}
.single-repo-branch {
  color: wheat;
  border-radius: 8px;
  border: 1.5px solid wheat;
  padding: 5px;
}
.single-repo-visibility {
  color: wheat;
  border-radius: 8px;
  border: 1.5px solid wheat;
  padding: 5px;
}
.single-repo-id {
  color: wheat;
  border-radius: 8px;
  border: 1.5px solid wheat;
  padding: 5px;
}

.single-other-details {
  margin-top: 50px;
  color: wheat;
}
.time-icon {
  width: 30px;
  color: white;
  margin-right: 10px;
}
.para-wrap {
  display: flex;
  margin-top: 4px;
}
.para-wrap-deploy {
  display: flex;
  height: 40px;
  margin-top: 4px;
}

.single-date-update h4 {
  text-align: center;
  margin-bottom: 4px;
  border: 1px solid;
  width: 20vw;
  height: 5vh;
  padding: 5px;
  border-radius: 6px;
}
.page-btns-container{
  display: flex;
  height: 100px;
  width: 60vw;
  border: 2px solid grey;
  justify-content: center;
  gap: 20px;
  background-color: rgb(61, 60, 60);
  padding: 8px;
  margin: 30px auto;
  border-radius: 8px;
}

.page-btns{
  width: 80px;
  margin-top: auto;
  height: 80px;
  background-color: aqua;
  outline: none;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: 700;
  border: 2px solid rgb(164, 163, 163);
 
}
.page-indicator{
  color: aqua;
  margin: 0 auto;
  font-size: 1.5em;
  font-weight: 700;
}
.error-page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 110vw;
  height: 90vh;
}
.error-ui {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: gray;
  color: white;
  height: 100vh;
}
.error-ui h1,
details {
  text-align: center;
  margin: 0 auto;
  width: 50vw;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 100px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loading,.error{
  margin: 10px auto;
}



.hambuger {
  display: none;
}

@media (min-width: 180px) and (max-width: 780px) {
  /* .nav{display: none;} */

  .hambuger {
    display: block;
    align-self: flex-end;
    margin-top: 18vh;
    margin-right: 5%;
  }
  .hambuger.active .line:nth-child(2) {
    opacity: 0;
  }

  .hambuger.active .line:nth-child(1) {
    transform: translateY(20px) rotate(45deg);
  }

  .hambuger.active .line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  .nav-bar {
    gap: 0px;
    width: 100%;
    justify-content: center;
  }
  .nav-wrap {
    display:flex;
    flex-direction: column;
    width: 0%;
    position: absolute;
    height: 200%;
    top: 0px;
    right: 0px;
    z-index: 1;
  }

  .nav-section {
   display: none;
    position: absolute;
    flex-direction: column;
    background-color: rgb(17, 112, 139);
    margin-top: 0;
    top: 39.8vh;
    width: 240px;
    height: 80%;
    right: -100%;
    -webkit-box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
    box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
  }

  .show {
    right: 0%;
    display: flex;
    
    
  }
  .back{
   
    width: 100%;
    background-color: rgba(128, 128, 128, 0.27);
  }


  
  .home-top-container {
    display: flex;
    flex-direction: column;
    height: 300vh;
    width: 100%;
    
    
  }

  .home-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    width:100%;
    margin: 0 auto;
  }
  .home-btn{
    width: 100vw;
    margin-bottom: 10px;
    margin: 0 auto;
  }
  .home-btn-profile {
    width: 100vw;
    margin: 0 auto;
    
  }
  .home-btn-wrap{
    display: flex;
    gap: 10px;
  }
  .home-tex{
    width: 100%;
    padding: 15px;
    font-size: 1.5em;
  }
  .name {
    display: flex;
    flex-direction: column;
    gap: 0;
   
  }
  .home-btn {
    width: 120px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid green;
    background-color: green;
    font-weight: 700;
  }
  .name-wrap {
    width: 100%;
  }
  .home-btn-profile {
    width: 120px;
    height: 40px;
    border-radius: 8px;
    /* border: 1px solid; */
    border: 1.5px solid green;
    background-color: antiquewhite;
    margin-left: 0px;
    font-weight: 700;
  }
  .home-image-wrap {
    width: 30px;
    height: 30px;
    margin-bottom:200px;
  }
  .home-image-background {
    height: 40vh;
    width: 70vw;
    margin: 0px auto;
    background-size: 200px;
  
  }
  .home-right {
    height: 50px;
    width: 100%;
    height: 100vh;
    margin-top: 20px;
    
  }

  .home-box1{
    transform: rotate(0deg);
    width: 80%;
    height: 51vh;
    margin: 10px auto;
  
  }

.home-box2{
    transform: rotate(0deg);
    width: 80%;
    height: 51vh;
    margin: -10px auto;
  }
  .home-box3{
    transform: rotate(0deg);
    width: 80%;
    height: 51vh;
    margin: 90px auto;
  }
  .home-box1 ul,
.home-box2 div, .home-box3 div{
  height: 40vh;
 
}

  .home-box1{
    margin: 0;
  }

  .home-box2{
    margin-top:100px;
  }
.para{
  margin-left: 0;
}
.repolist-container-bottom{
  display: flex;
  flex-direction: column;
  margin-left: 0;
 
}
.owner-info-wrap{
  margin-left: 0;
}
.owner-info-wrap h3{
  width: 100%;
}
.owner-info-wrap p{

  width: 100%;
 
}
.repo-visible ,.repo-branch{

  width: 20vw;
  
}
.page-btns-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 300px;
}

}